@import "./styles.css";

.map {
  width: 100%;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_form {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 15px;
  border-radius: 50px;
  border: 2px solid var(--ewhagreen);
  padding: 15px;
  gap: 10px;
}

.search_bar {
  width: 100%;
}

.home_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-width: 915px;
}

.home_items h2 {
  color: var(--gray);
  font-size: 20px;
  font-weight: 500;
}

.whole_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 915px;
}

.item_container {
  background-color: #00462acc;
  width: 170px;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 18px;
  border-radius: 25px;
}

.item_container > img {
  border-radius: 15px;
  height: 130px;
}

.region_container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.region_container span {
  color: white;
  font-size: 15px;
}

.tag_container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tag_container span {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--ewhapear);
  color: #00462acc;
  font-size: 13px;
}

.title {
  color: white;
}

.pagenation_container {
  margin-top: 100px;
  margin-bottom: 200px;
  width: 915px;
}

.page-nation li {
  list-style: none;
}
.page-wrap {
  text-align: center;
  font-size: 0;
}
.page-nation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.page-nation a {
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.item_count {
  margin-bottom: 20px;
  color: rgb(68, 68, 68);
  font-weight: 600;
  font-size: 15px;
}

.select-buttons {
  display: flex;
  gap: 10px;
}

.select-btn {
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #f4f4f4;
  color: #888;
  cursor: pointer;
  outline: none;
  border: 1px solid #f4f4f4;
}

.select-btn:hover {
  color: var(--ewhagreen);
  border: 1px solid var(--ewhagreen);
  background-color: #00462a5e;
}

.select-btn.active {
  border: 1px solid var(--ewhagreen);
  background-color: var(--ewhagreen);
  color: white;
  font-weight: 600;
}
