@import "./styles.css";

.form-container {
  width: 650px;
  padding-top: 30px;
  padding-bottom: 70px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: 600;
}

input,
textarea {
  padding: 11px;
  margin-bottom: 20px;
  border: 0px;
  background-color: #f3f3f3;
  border-radius: 17px;
  width: 100%;
  max-width: 630px;
}

textarea {
  height: 150px;
  width: 630px;
}

.productForm-topDiv {
  display: flex;
  justify-content: space-between;
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.productPhoto {
  width: 150px;
  height: 150px;
  background-color: #f3f3f3;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-button-container {
  margin-bottom: 20px;
}

.select-buttons {
  display: flex;
  gap: 10px;
}

.select-btn {
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #f4f4f4;
  color: #888;
  cursor: pointer;
  outline: none;
  border: 1px solid #f4f4f4;
}

.select-btn:hover {
  color: var(--ewhagreen);
  border: 1px solid var(--ewhagreen);
  background-color: #00462a5e;
}

.select-btn.selected {
  border: 1px solid var(--ewhagreen);
  background-color: var(--ewhagreen);
  color: white;
  font-weight: 600;
}

.address-container {
  display: flex;
  justify-content: space-between;
}

.register-button {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--ewhagreen);
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.form-title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0;
}
