@import "./styles.css";

.signup_container {
  width: 600px;
  margin: 60px 0;
}

.signup_form {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input_container__id {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 15px;
  align-items: center;
}

.duplicate_check_btn {
  height: 40px;
  width: 80px;
  border-radius: 15px;
}

.btn_activate {
  background-color: #00462a1a;
  color: var(--ewhagreen);
}

.btn_activate:hover {
  background-color: var(--ewhagreen);
  color: white;
}

.btn_deactivate {
  background-color: var(--ewhagrayblank);
  color: gray;
  cursor: default;
}

.input_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}

.input_div input {
  height: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--ewhagrayblank);
}

.alert {
  font-size: 13px;
}

.alert_good {
  color: var(--ewhagreen);
}

.alert_bad {
  color: var(--ewhacoral);
}

.signup_btn {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
}

.signup_btn_activate {
  background-color: var(--ewhagreen);
  color: white;
}

#region {
  background: url(/static/images/select-arrow.svg) no-repeat 97%;
  height: 45px;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--ewhagrayblank);
}

.optional {
  font-size: 13px;
  color: var(--gray);
}
