{% extends "header.html" %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>제품 리뷰</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='detail.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% endblock head %}
  </head>
  <body>
    {% block main %}
    <main>
      <div class="container">
        <!-- 상품 이미지 -->
        <div class="product-image">
          <img
            src="/static/images/{{data.img_path}}"
            alt="{{ data.productName }}"
          />
        </div>

        <a href="{{ url_for('mypage', id=data.sellerId) }}" class="seller-info">
          <img
            src="{{ url_for('static', filename='images/user_icon.png') }}"
            alt="판매자 프로필 사진"
          />
          <div class="details">
            <div class="name">{{ data.sellerId }}</div>
            <div class="email">{{ data.contact }}</div>
            <div class="email">{{data.nation}}</div>
          </div>
        </a>

        <!-- 구분선 -->
        <div class="divider"></div>

        <!-- 상품 정보 -->
        <div class="product-description-header">
          <div class="product-title">{{data.productName}}</div>
          <span class="status-tag">{{data.state}}</span>
        </div>
        <div class="product-detail">{{data.address}}</div>
        <div class="price">{{data.price}}원</div>

        <div class="product-description">{{data.description}}</div>

        <div class="product-detail">2023.11.05 23:58</div>

        <!-- 구분선 -->
        <div class="divider"></div>

        <div class="product-footer">
          <!-- 하트 버튼 -->
          <div id="heart">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
          </div>

          <!-- 판매자 연락하기 버튼 -->
          <button
            class="contact-btn"
            onclick="showContact('{{ data.contact }}')"
          >
            판매자 연락하기
          </button>
        </div>
      </div>
    </main>
    {% endblock main %} {% block script %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='header.js') }}"></script>
    <script src="{{ url_for('static', filename='detail.js') }}"></script>
    {% endblock script %}
  </body>
</html>
