<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} {% endblock head %}
  </head>
  <body>
    <div class="header_bg">
      <header id="header">
        <div class="logo">
          <a href="/"><img src="/static/images/logo.png" alt="WWE 로고" /></a>
        </div>
        <nav class="navbar">
          <ul class="navbar__menu">
            <li id="navbar__menu__home">
              <a href="/">홈</a>
            </li>
            <li id="navbar__menu__reg_items">
              <a href="/reg_items">상품 등록</a>
            </li>
            <li id="navbar__menu__mypage">
              <a href="/mypage">마이페이지</a>
            </li>
          </ul>
        </nav>
        <div
          class="user"
          data-id="{{ session['id'] if 'id' in session else '' }}"
        ></div>
      </header>
    </div>

    {% block main %} {% endblock main %}{% block script %} {% endblock script %}
  </body>
</html>
