{% extends "header.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block head %}
    <title>상품 등록</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='register.css') }}"
    />
    {% endblock head %}
  </head>
  <body>
    {% block main %}
    <main>
      <div class="form-container">
        <form
          id="productForm"
          method="post"
          enctype="multipart/form-data"
          action="/submit_product_post"
        >
          <h1 class="form-title">상품 등록하기</h1>
          <label for="sellerId">판매자 ID</label>
          <input
            type="text"
            id="sellerId"
            name="sellerId"
            placeholder="판매자 ID"
            required
          />
          <label for="contact">판매자 연락처</label>
          <input
            type="text"
            id="contact"
            name="contact"
            placeholder="이메일"
            required
          />
          <label for="productName">제품명</label>
          <input
            type="text"
            id="productName"
            name="productName"
            placeholder="제품명"
            required
          />

          <label for="price">가격</label>
          <input
            type="number"
            id="price"
            name="price"
            placeholder="가격"
            required
          />

          <label for="img">상품 이미지</label>
          <input type="file" name="file" placeholder="이미지" required />

          <!-- 대륙, 상품 상태 값 input 태그로 저장 -->
          <input type="hidden" id="continentInput" name="continent" />
          <input type="hidden" id="stateInput" name="state" />

          <div class="select-button-container">
            <label>대륙</label>
            <div class="select-buttons" style="margin-top: 5px">
              <button
                class="continent-btn select-btn"
                type="button"
                data-continent="아시아"
              >
                아시아
              </button>
              <button
                class="continent-btn select-btn"
                type="button"
                data-continent="유럽"
              >
                유럽
              </button>
              <button
                class="continent-btn select-btn"
                type="button"
                data-continent="북아메리카"
              >
                북아메리카
              </button>
              <button
                class="continent-btn select-btn"
                type="button"
                data-continent="남아메리카"
              >
                남아메리카
              </button>
              <button
                class="continent-btn select-btn"
                type="button"
                data-continent="오세아니아"
              >
                오세아니아
              </button>
              <button
                class="continent-btn select-btn"
                type="button"
                data-continent="아프리카"
              >
                아프리카
              </button>
            </div>
          </div>

          <div class="address-container">
            <div>
              <label for="nation">국가</label>
              <input
                type="text"
                id="nation"
                name="nation"
                placeholder="국가"
                style="width: 170px; margin-top: 5px"
                required
              />
            </div>
            <div>
              <label for="address">상세 주소</label>
              <input
                type="text"
                id="address"
                name="address"
                placeholder="상세 주소"
                style="width: 430px; margin-top: 5px"
                required
              />
            </div>
          </div>

          <div class="select-button-container">
            <label>상품 상태</label>
            <div class="select-buttons" style="margin-top: 5px" name="status">
              <button
                type="button"
                class="state-btn select-btn"
                data-state="중고물품"
              >
                중고물품
              </button>
              <button
                type="button"
                class="state-btn select-btn"
                data-state="새상품"
              >
                새상품
              </button>
            </div>
          </div>

          <label for="description">설명</label>
          <textarea
            id="description"
            name="description"
            required
            placeholder="구매 시기, 사용 기간, 하자 여부 등에 관하여 자세히 알려주세요."
          ></textarea>

          <button type="submit" class="register-button">상품 등록</button>
        </form>
      </div>
    </main>
    {% endblock main %} {% block script %}
    <script src="{{ url_for('static', filename='header.js') }}"></script>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    {% endblock script %}
  </body>
</html>